@charset "ISO-8859-1";

body { 
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31bc86;
}

li {
    float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	font:bold 12px Arial;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: black;
}

h1 { 
	font:bold 16px Arial;
	display: block;
   	margin-bottom:10px;
   	text-align: center;
}

#loginbutton {
	background-color: #31bc86; /* Green */
	border: none;
	color: white;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
}

#loginbutton:hover { 
	background-color: black;
}

.footer { 
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font:bold 10px Arial;	
}